@{
    ViewBag.Title = "Add Player";
}
@model SmashTO.Models.PlayerModel
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}
<div>here is some other text that is pretty cool.</div>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    <div>
        @Html.LabelFor(x => x.PlayerName)
        @Html.TextBoxFor(x => x.PlayerName)
    </div>
    <input type="submit" value="Add" />
}
