@{
    ViewBag.Title = "Add Player";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Add a player
            </p>
        </div>
    </section>
}
<div>here is some other text that is pretty cool.</div>
