@using SmashTO
@{
    ViewBag.Title = "Start a Bracket";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Select a bracket type
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one" style="height:30px">
        @Html.ActionLink("Swiss Style Bracket", "PlayerSelect", "Tournament", new { format = TournamentFormat.Swiss }, null)
    </li>

    <li class="two" style="height:30px">
        @Html.ActionLink("Swiss Style Bracket", "PlayerSelect", "Tournament", new { format = TournamentFormat.SingleElimination }, null)
    </li>

    <li class="three" style="height:30px">
        Future Brackets
    </li>
</ol>
