@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Cell:</span>
        <span>330-933-9686</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">School:</span>
        <span><a href="mailto:agg11@zips.uakron.edu">agg11@zips.uakron.edu</a></span>
    </p>
</section>