@{
    ViewBag.Title = "Welcome to SmashTO";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Getting Started</h3>
<ol class="round">
    <li class="one">
        <h5>Set up an account</h5>
        Generate an account so we can save your brackets and ensure the quality and validity of the entered brackets.
    </li>

    <li class="two">
        <h5>Add Players</h5>
        Enter the names of the players in the players tab.
    </li>

    <li class="three">
        <h5>Run a Bracket</h5>
        Add players to a bracket and then play it out in-browser.
    </li>
    
    <li class="four">
    <h5>Track Player Stats</h5>
        Player ratings will be updated automatically.  Future brackets will be seeded automatically based on these rankings.
    </li>
</ol>
