@model SmashTO.Models.ResultsModel

@{
    ViewBag.Title = "Swiss Bracket Results";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}

@using (Html.BeginForm("Results", "Bracket"))
{
    
}